@mixin text($color, $fontSize, $fontFamily, $fontWeight){
 color: $color;
 font-size: $fontSize;
 font-family: $fontFamily;
 font-weight: $fontWeight;
}


@mixin button($background, $border, $color:null){
    background-color: $background;
    border: $border;
    color: $color;
}

@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}

// @mixin keyframe ($animation-name){
//     @-webkit-keyframes $animation-name{
//         @content;
//     }

//     @-moz-keyframes $animation-name{
//         @content;
//     }

//     @-ms-keyframes $animation-name{
//         @content;
//     }

//     @-o-keyframes $animation-name{
//         @content;
//     }

//     @keyframes $animation-name{
//         @content;
//     }
// }