@import '../style-guide/global';
@import './mixins-button';


.basic{
  cursor: pointer;
  min-width: 120px;
  padding: 0.6rem 1.6rem;
  margin: 0.3em;
  border: none;
  border-radius: 5px;
  transition-duration: 0.1s;
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);

  &__icon {
    flex-direction: row-reverse;
    margin: 0 5px 0 0;
  }

  @include button-style;
  @include button-size;
}
.basic:hover {
  animation: boing 600ms ease-in-out;
}




/*ANIMATION*/
@keyframes boing {
  15%,
  40%,
  75%,
  100% {
    transform-origin: center center;
  }
  15% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.9, 0.9);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

// Create varition button